body {
    height: 100vh;
    background-color: aqua;
}

.maincontainer {
min-height: 100vh;
}

.maxhight {
    height: 100%;
    width: 100%;
}

.displaytype {
    display: flex;
    justify-content: center;
}

.floatcontainers {
    display: flex;
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 6px 6px 21px 4px rgba(0,0,0,0.75);
     -moz-box-shadow: 6px 6px 21px 4px rgba(0,0,0,0.75);
     box-shadow: 6px 6px 21px 4px rgba(0,0,0,0.75);
 }

 .maincontainers {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
 }

 .boxfor {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
